@{
    ViewData["Title"] = "About Me";
}
<h1>@ViewData["Title"]</h1>

<p>
    🚀 Hey, I'm Rishikesh Nandurkar! 👨‍💻 I thrive on coding magic, recently conjuring up a sleek CRUD system in 
    .NET MVC Core with Entity Framework Code First. Dive into the coding journey with me! 
    Let's chat tech, share ideas, or explore opportunities at <a href="mailto:nrnnandurkar@gmail.com" target="_blank">nrnnandurkar@gmail.com</a>
</p>